<div class="tool_info">
  <h1><%= @tool.name %> <br> </h1>
    <h3> <%= "quantity: #{@tool.quantity}" %></h3>
  <h3><%= "price: $#{@tool.price}" %></h3>
</div>
<%= flash[:notice] %><br>
<br>
  <%= link_to "Edit", edit_tool_path %>
  <%= link_to "Delete", tool_path(@tool.id), method: :delete %>
