<!DOCTYPE html>
<html>
<head>
  <title>ToolChest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
  <strong>Newest tool:</strong> <%= most_recent_tool.name %>
</p>

<%= yield %>

<p>
  <strong>Tools in your box:</strong> <%= users_tool_box_quanity %>
</p>

</body>
</html>
